<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(process.env.Machine === 'development'){
        %>
    <h1>Running on Development</h1>
        <%
    }else if (process.env.Machine === 'production') {
        %>
    <h1>Running on Production</h1>
        <%
    } %>
    <h4>XXXX</h4>
</body>
</html>